.top-header {
    padding-left: 470px;  
}

.center p {
    text-align: center;
}

.login-main-form {
    padding: 7rem 35rem;
    margin-right: 0;
    margin-left: 0; 
    margin-bottom: 1rem;
    border-width: 3rem;
}

.create-account-link {
    padding: 1rem; 
    margin-bottom: 0;
    margin-left: 20rem; 
}

.login-button {
    margin-left: 26rem; 
}