.top-header {
    height: 60px;
    background-color: #D6D4D5;
    text-align: center;
    font-weight: bold;
    position: relative;
}

.center p {
    text-align: center;
    /* -ms-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
}

.login-main-form {
    height: 240px;
    text-align: center;
    top: 35%;
    margin: auto; 
    padding: 80px 300px;
}